/* variables */
:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Darker-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Lighter-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Light-grayish-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

/* helper class */
.flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: clamp(300px, 85%, 850px);
}

.header {
  color: var(--Very-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.calculator {
  background-color: var(--White);
  border-radius: 12px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

input {
  border: none;
  outline: none;
  font-family: "Space Mono", monospace;
}
label {
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.tips-wrapper {
  color: var(--Darker-grayish-cyan);
  padding: 0 1rem;
}
.input {
  position: relative;
}
.input i {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--Dark-grayish-cyan);
  width: 1rem;
}
.input.top {
  margin-bottom: 1.75rem;
}

.input input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
}

input[type="text"] {
  background-color: var(--Lighter-grayish-cyan);
  border-radius: 5px;
  color: var(--Very-dark-cyan);
}
input[type="text"]:focus {
  border: 1px solid var(--Strong-cyan);
}

.tips {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 0.75rem;
  margin-bottom: 1.75rem;
}

.tip {
  padding: 0.325rem 0;
  border-radius: 5px;
  font-size: 1.25rem;
}

.tip.given {
  cursor: pointer;
  color: var(--White);
  background-color: var(--Very-dark-cyan);
}
.tip.completed {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.tip.given:hover {
  background-color: var(--Light-grayish-cyan);
  color: var(--Very-dark-cyan);
}
.tip.custom {
  padding-right: 0.5rem;
}

.results {
  background-color: var(--Very-dark-cyan);
  border-radius: 10px;
  padding: 1.75rem 1.25rem;
}
.tip-amount {
  margin-bottom: 2.75rem;
}
.total-amount {
  margin-bottom: 5.5rem;
}

.amount {
  color: var(--White);
  font-size: 0.875rem;
}

.amount span {
  font-size: 0.75rem;
  color: var(--Dark-grayish-cyan);
}
#tip,
#total {
  color: var(--Strong-cyan);
  font-weight: 700;
  font-size: 2rem;
}

.reset {
  width: 100%;
  cursor: pointer;
  color: var(--Very-dark-cyan);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  background-color: hsl(183, 100%, 20%);
  transition: 200ms ease-in-out;
}
.reset.filled {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.reset:hover {
  background-color: var(--Light-grayish-cyan);
}

@media (max-width: 767px) {
  .tips-wrapper {
    padding: 0;
  }
  .wrapper {
    width: clamp(280px, 95%, 400px);
    padding: 3rem 0;
  }
  .calculator {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .tip-amount {
    margin-bottom: 2rem;
  }
  .total-amount {
    margin-bottom: 4rem;
  }
}

@media (max-width: 410px) {
  .calculator {
    padding: 2rem 1rem;
  }
  .tips {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.75rem;
  }

  .tip-amount {
    margin-bottom: 1.5rem;
  }
  .total-amount {
    margin-bottom: 3rem;
  }
}
